    h1 {
    color:white; text-decoration:none; font-size:64px;
    }

    p {
    font-family:helvetica, roboto; color:white; font-size:24px;
    }

    a {
    text-decoration:none; color:#A9FFE6; font-size:48px;
    }

    body {
    background-image: url('images/mountainsbackground-blackopacity90.jpg');
    }

    .bottomleft {
    position: fixed; bottom: 4%; left: 4%;
    }

    .bottomright {
    position: fixed; bottom: 4%; right:4%;
    }

    .center {
    text-align: center;
    margin: 64px
